html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
}

md-toolbar h1,
h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.250em;
    font-weight: 400;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
md-list .md-button.selected {
    color: #03a9f4;
}
.md-sidenav-left,
.scrollable-nav-content {
    background: bisque;
    background: beige;
    background: burlywood;
    background: darkkhaki;
}
md-content.md-default-theme, md-content {
    background-color: none !Important;
}
md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}

#content  {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

.avatar {
    position: relative;
    width: 178px;
    height: 178px;
    /* border: 1px solid #ddd; */
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
}

.scrollable-nav-content {
    position: absolute;
    top: 136px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}

md-bottom-sheet  md-icon {
    margin-right:20px;
}

span.name {
    font-weight: bold;
    font-size:1.1em;
    padding-left:5px;
}

.date-row {
    margin: 16px 0px;
}
.inventory {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    width: 80%;
    height: 150px;
    padding-left: 318px;
    box-shadow: -20px 20px 70px 2px rgba(100,100,100,.1);
    padding-right: 20%;
}

.inventory ul {
    margin:0;
    padding:0 0 0 30px;
    cursor:pointer;
}
.inventory li {
    margin:4px 3px;
    padding:8px;
    background:rgba(0,0,0,.5);
    display: inline-block;
    border-radius:30px;
    color:#f3f3f3;
    font-weight:600;
}
.inventory li span:first-child {
    background:lightcoral;
    width:30px;
    height:30px;
    margin: 0 4px;
    padding:2px;
    text-align:center;
    border-radius:10px;
    font-size:12px;
}
.inventory li span:last-child {
    color:#222;
    width:30px;
    height:30px;
    margin: 0 4px;
    text-align:center;
    border-radius:10px;
}
@media only screen and (max-width: 960px) {
    .inventory {
        padding-left: 0px;
    }
}
button.restock{
    content: 'Out of Stock';
    top: 0;
    left: 0;
    z-index: 9999;
}

button.restock:after {
    content: '** Out of Stock';
    top: 0;
    left: 0;
    z-index: 9999;
    color:red;
    font-size:8px;
}
button.restockMe{
    content: 'Out of Stock';
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
}

button.restockMe:after {
    content: '>';
    position:absolute;
    top: 34%;
    right: 9px;
    z-index: 9999;
    color:orangered;
    font-size:22px;
    opacity: .4;
}
.restockMeNow{
    content: 'Out of Stock';
    top: 0;
    left: 0;
    z-index: 9999;
}

.restockMeNow:after {
    content: '** Out of Stock';
    top: 0;
    left: 0;
    z-index: 9999;
    color:red;
    font-size:18px;
}
.drinkDesc .info {
    background: rgba(189, 183, 107,.3);
    min-height: 140px;
    padding: 20px 40px;
    color: brown;
    font-size: 20px;
    border-radius: 18px;
}
.md-text img {
    width:40%;
    height:auto;
}